.grid{

    .gridFooter{
        padding:10px 10px 10px 0;
        .paginationWrapper{
           text-align:right;
           .paginationInfo{
               padding-right:20px;
			   span{
					padding:0 10px 0 10px;
			   }
           }
           .paginationLeft > i, .paginationRight > i{
                padding: 8px;
                border-radius: 50%;
                cursor:pointer;
                border:1px solid #fff;
                &:hover{
                    border:1px solid rgba(0,0,0,0.1);
                }
           }
        }
    }
	
	.buyOrSell{
		color:#000;
	}

}
.filterWrapper{
	label{
		margin-bottom:5px;
		font-size:13px;
	}
}