@import './Variables.scss';

body{
  font-family:$fontFamily;
  font-size:$bodyFontSize;
  background:$bodyBackground;
  color:$bodyFontColor;
}
.container{
  padding:20px;
}
.material-icons{
  vertical-align:middle;
}

.flex{
  display:flex;
}

.flex-justify-content{
  justify-content:space-between;
}

.flex-align-item{ 
  align-items: center;
}

.italic{
  font-style:italic;
}

.bold{
  font-weight:600;
}

.normal{
	font-weight:normal;
}

.cardStyled{
  box-shadow:0 0 40px 0 rgba(0,0,0,0.05);
  border-radius:5px;
  background:#fff;
}

.cardWrapper{
  padding:20px;
}

.title{
  font-size:$titleFont;
  padding:10px 0 20px 0;
}

small{
  font-size:13px; 
}

.mainWrapper{
  display:flex;
  .leftColumn{
      flex-grow:8;
      margin-right:20px;
  }
  .rightColumn{
     flex-grow:1;
     margin-left:20px;
  }
}

.button{
    padding:7px 8px 5px 10px;
    background:$primaryColor;
    border-radius:5px;
    color:#fff;
    border:0;
    font-size:15px;
    cursor:pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    i.material-icons{
        padding-left:10px;
        color:#fff;
    }
}

.text-center{
  text-align:center;
}

.text-right{
  text-align:right;
}

.text-positive{
	color:$positiveColor;
}

.text-negative{
	color:$negativeColor;
}

.text-default{
	color:$bodyFontColor;
}

.text-condensed{
	line-height:27px;
	margin-bottom:10px;
}	 

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); 
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}









.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color:$bodyBackground;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
