$bodyBackground:#dddddd0d; 
$bodyFontColor:#555555;
$primaryColor:#353C5B; 
$secondaryColor:#6574B0; 
$fontFamily:'Roboto', sans-serif;
$bodyFontSize:15px;
$titleFont:19px;
$subTitleFont:17px;
$positiveColor:#029202;
$negativeColor:#da1111;
