.activeQuotesWrapper{
    ul {        
        li{            
            align-items: center;
            border-bottom:1px solid rgba(0,0,0,0.1);
            padding:15px 15px 15px 15px;
			min-height:65px;
            &:last-child{
                border-bottom:0;
				min-height:auto;
            }
            .activeQuotesAvatar i{
                font-size: 47px;
                color: #ddd;
                padding:0 10px 0 10px;
            }
        }
    }
    
    .activeQuotesSearch{
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 15px;
        width: 90%;
        border-radius: 25px;
        height: 7px;
        font-size: 15px;        
        &:focus{
            outline:none;
        }
        &::placeholder{
            color:#ddd;
        }       
    }

    .activeQuotesSeachWrapper{       
        width:100%;
    }

    .statusWrapper{
        padding:15px 20px 15px 20px;
        display:block;
		small{
			font-size:12px;
			color:#bbb;
		}
    }
}